/* ID FOR MAIN SETTINGS TABLE */
#main-login-settings {
  background: #CCC;
  padding: 0px 10px;
}

/* CLASS FOR REMOVE BUTTONS */
.remove_btn{
	
}

/* ID FOR COLOR PICKER AREA */
#ax_custom_login_bg_color {

}

/* Class FOR COLOR AREA MESSAGE */
.click {

}


/*  CLASS FOR UPDATE & DELETE MESSAGE BUTTONS */
.ax_message_action{
	
}


#ax_add_new_message{
	
	}



/*   CLASS FOR SETTINGS TABLE-ROW  */
.setting-row {
		background: #CCC;
}

#main-login-setting-form{
		padding: 0px 10px;
}

#message_table {
  background: none repeat scroll 0 0 #CCCCCC;
  margin-left: 9px;
  padding: 0 10px 10px;
  width: 78.7%;
  margin-bottom: 15px;
}

/*   CLASS FOR SECTION HEADINGS (H3) */
.section-heading {
  background: none repeat scroll 0 0 #00AECC;
  color: #FFFFFF;
  padding: 5px;
}

.helpforum {
 margin-left: 10px;
 margin-bottom: 10px;
}